<html>
	<head>hello</head>
	<body>
		<p>This is the hello page, you can see this page just when you have rights ...</p>
		<a id="_logout" th:href="${@environment.getProperty('aws.cognito')}
			+'/logout?client_id='+${@environment.getProperty('spring.security.oauth2.client.registration.cognito-client-1.client-id')}
			+'&logout_uri='+${@environment.getProperty('app.logouturi')}
			" class="btn btn-xs btn-warning">logout</a>
			<!-- 		seccion printed for ROLE_USER -->
			<!-- 		seccion printed for ROLE_ADMIN -->
			
			<p sec:authorize="isAuthenticated()">1. IS AUTHENTICATED</p>
			
			<p sec:authorize="hasAnyRole('ADMIN', 'DEVELOPER')">2. HAS ROLE ADMIN or DEVELOPER</p>

			<p sec:authorize="hasAnyRole('ROLE_USER')">3. HAS ROLE_USER</p>

			<p sec:authorize="hasAnyRole('ROLE_ADMIN')">4. HAS ROLE_ADMIN</p>
			
			<p sec:authorize="hasAnyRole('ROLE_NEW_ROLE')">5. HAS ROLE_NEW_ROLE</p>
			
			

	</body>
</html>