<html>
	<head>main</head>
	<body>
		<p>This is the main page, anyone can see this webpage</p>
		<p>go to the protected link <a th:href="@{/hello}">protected</a></p>
		<br/>
		<p th:text="'app.url='+${@environment.getProperty('app.url')}">app.url</p>
		<p th:text="'app.logouturi='+${@environment.getProperty('app.logouturi')}">app.logouturi</p>
		<p th:text="'aws.cognito='+${@environment.getProperty('aws.cognito')}">aws.cognito</p>
		<p th:text="'spring.security.oauth2.client.registration.cognito-client-1.scope='+${@environment.getProperty('spring.security.oauth2.client.registration.cognito-client-1.scope')}">spring.security.oauth2.client.registration.cognito-client-1.scope</p>
		<p th:text="'spring.security.oauth2.client.registration.cognito-client-1.authorization-grant-type='+${@environment.getProperty('spring.security.oauth2.client.registration.cognito-client-1.authorization-grant-type')}">spring.security.oauth2.client.registration.cognito-client-1.authorization-grant-type</p>
	</body>	
</html>